<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Add genre</title>
</head>
<body>
<form id="edit-form" th:action="@{/comment/add(id=${book.id})}" th:object="${book}" th:method="post" action="addcomment.html">

    <h1>New comment:</h1>
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text"  readonly="readonly" th:value="${book.name}"/>
    </div>

    <div class="row">
        <label for="holder-input">Comment:</label>
        <input id="holder-input" name="comment" type="text"/>
    </div>
    <div class="row">
        <button class="save" type="submit">Save</button>
    </div>
</form>
</body>
</html>

